* {
  touch-action: none;
}

body {
  color: #1a1a1a;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-ellipsis-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

i {
  font-style: normal;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}

.base-swiper-timeline,
.base-person-swiper {
  overflow: hidden;
}

.home > .container {
  overflow: hidden;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

input::-webkit-input-placeholder {
  /* WebKit*/
  color: #b3b3b3;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b3b3b3;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b3b3b3;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #b3b3b3;
}

div {
  font-size: 12px;
}

[data-dpr="2"] div {
  font-size: 24px;
}

[data-dpr="3"] div {
  font-size: 36px;
}

.page-enter-active, .page-leave-active {
  transition: opacity .3s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}
