/* 模块头部标题行高 */
@mixin moduleHeader {
    height: .675926rem;
    line-height: .675926rem;
}

/* 更多,缓一缓旁边的 icon 样式 */
@mixin smallIcon($img) {
    display: block;
    width: .314815rem;
    height: .314815rem;
    border-radius: 50%;
    margin-left: .111111rem;
    background-image: url($img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 模块内整体布局 */
@mixin picItem($index) {
    width: 50%;
    box-sizing: border-box;
    padding-right: .064815rem;
    &:nth-of-type(#{$index}) {
        padding-right: 0;
        padding-left: .064815rem;
    }
}

/* padding-top 自适应布局 */
@mixin propor($per) {
    &:before {
        content: '';
        display: block;
        padding-top: $per;
    }
}

/* pic-link 图片蒙版布局 */
@mixin piclink($var) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: $var;
}

/* c-rt 右上角标志 */
@mixin c-rt($raduis) {
    .c-rt {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5;
        overflow: hidden;
        .c-collect {
            display: block;
            padding: .111111rem;
            text-align: center;
            background-color: $orange;
            border-radius: 0 $raduis 0 $raduis;
            color: #fff;
        }
    }
}

/* c-lt 左上标志 */
@mixin c-lt {
    .c-lt {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;
        overflow: hidden;
        .c-rank {
            display: block;
            width: .537037rem;
            height: .537037rem;
            box-sizing: border-box;
            padding: .092593rem 0 0 .12963rem;
            background-color: $orange;
            border-radius: 0 0 100% 0;
            color: #fff;
        }
    }
}

/* c-lb 左下角标志 */
@mixin c-lb($color) {
    .c-lb {
        position: absolute;
        left: .212963rem;
        bottom: .166667rem; // 18px
        z-index: 5;
        overflow: hidden;
        .c-date {
            color: #fff;
        }
        .c-date-score {
            color: $color;
        }
    }
}

/* pic-title */
@mixin picTitle($color) {
    .piclist-title {
        padding: .212963rem 0 .462963rem 0;
        .c-title {
            // height: .425926rem;
            line-height: .425926rem;
            overflow: hidden;
            text-align: left;
            width: 96%;
            a {
                display: block;
                color: $color;
            }
        }
        .c-info {
            padding-top: .092593rem;
            height: .37037rem;
            line-height: .37037rem;
            overflow: hidden;
            text-align: left;
            width: 94%;
            a {
                display: block;
                color: #999;
            }
        }
    }
}


/* banner c-lb 样式模块 */
@mixin banner-c-lb {
    .c-lb {
        position: absolute;
        left: .305556rem;
        bottom: .305556rem;
        h3 {
            display: inline;
        }
        p {
            margin-top: .166667rem;
            width: 6.518519rem;
        }
    }
}

/* 多行文本溢出省略 */
@mixin text-ellipsis-n($n) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $n;
    overflow: hidden;
}

/* 播放源 icon position */
@mixin sourceIcon {
    &.qq  {
        background-position: 0 -4.28rem;
    }
    &.qiyi  {
        background-position: 0 -30.96rem;
    }
    &.youku  {
        background-position: 0 -12.8rem;
    }
    &.sohu  {
        background-position: 0 -8.533333rem;
    }
    &.tudou  {
        background-position: 0 -3.186667rem;
    }
    &.mgtv  {
        background-position: 0 -5.333333rem;
    }
    &.acfun  {
        background-position: 0 -23.453333rem;
    }
    &.pps  {
        background-position: 0 -26.666667rem;
    }
    &.pptv  {
        background-position: 0 -32rem;
    }
    &.sina  {
        background-position: 0 -28.826667rem;
    }
    &.kumi  {
        background-position: 0 -21.333333rem;
    }
    &.leshi  {
        background-position: 0 -1.053333rem;
    }
    &.fengxing  {
        background-position: 0 -7.466667rem;
    }
    &.xiankan  {
        background-position: 0 -11.733333rem;
    }
    &.56com  {
        background-position: 0 -.026667rem;
    }
    &.bilibili  {
        background-position: 0 -18.146667rem;
    }
}


/* 主页 热播和基础模块字体大小整合 */

@mixin moduleFontSize($topSelector) {
    #{$topSelector} {
        .header-module {
            h2 {
                font-size: 18px;
            }
            a {
                font-size: 14px;
            }
        }
        .piclist-time {
            font-size: 12px;
        }
        .m-pic-list .piclist-img {
            .c-collect,
            .c-date {
                font-size: 11px;
            }
            .c-rank {
                font-size: 12px;
                font-size: 10px;
            }
            .c-date-score {
                font-size: 16px;
                .score-item-after {
                    font-size: 12px;
                }
            }
        }
        .piclist-title {
            .c-title {
                font-size: 14px;
            }
            .c-info {
                font-size: 12px;
            }
        }
        .m-new-list,
        .collect-item {
            font-size: 14px;
        }
    }

    [data-dpr="2"] #{$topSelector} {
        .header-module {
            h2 {
                font-size: 36px;
            }
            a {
                font-size: 28px;
            }
        }
        .piclist-time {
            font-size: 24px;
        }
        .m-pic-list .piclist-img {
            .c-collect,
            .c-date {
                font-size: 22px;
            }
            .c-rank {
                font-size: 24px;
                font-size: 20px;
            }
            .c-date-score {
                font-size: 36px;
                .score-item-after {
                    font-size: 24px;
                }
            }
        }
        .piclist-title {
            .c-title {
                font-size: 28px;
            }
            .c-info {
                font-size: 24px;
            }
        }
        .m-new-list,
        .collect-item {
            font-size: 28px;
        }
    }

    [data-dpr="3"] #{$topSelector} {
        .header-module {
            h2 {
                font-size: 54px;
            }
            a {
                font-size: 42px;
            }
        }
        .piclist-time {
            font-size: 36px;
        }
        .m-pic-list .piclist-img {
            .c-collect,
            .c-date {
                font-size: 33px;
            }
            .c-rank {
                font-size: 36px;
                font-size: 30px;
            }
            .c-date-score {
                font-size: 48px;
                .score-item-after {
                    font-size: 36px;
                }
            }
        }
        .piclist-title {
            .c-title {
                font-size: 42px;
            }
            .c-info {
                font-size: 36px;
            }
        }
        .m-new-list,
        .collect-item {
            font-size: 42px;
        }
    }
}

