/* 主体左右间距 */
$gap: .277778rem;

/* header 高度 */
$headerHeight: 1.222222rem;

/* 阴影 */ 
/* banner 阴影 */
$bannerShadow: 0 -2.133333rem 1.2rem 0px rgba(0, 0, 0, 0.55) inset;
/* banner 整体 padding */
$bannerPadding: .231481rem 0 .416667rem 0;
/* banner radius */
$bannerRadius: .092593rem;
/* banner swiper-slide 两边间距 */
$bannerSlideGap: .074074rem;
/* banner-swiper-pagination 距离底部的距离 */
$bannerPaginationBottom: .342593rem;

/* module component 阴影 */
$boxShadow: 0 -.933333rem .933333rem 0px rgba(0, 0, 0, 0.7) inset;
/* 模块分隔线 */
$moduleBorder: 1px solid #d9d9d9;
/* 模块 padding-bottom */
$moduleBottomPadding: .092593rem;
/* base模块 padding-top */
$moduleTopPadding: .425926rem;
/* 模块项目 radius */
$itemRadius: .092593rem;
/* pic-list margin-top */
$piclistMarginTop: .324074rem;



/* 显著的橙色 */
$orange: #ff6a1f;
/* 基色 */
$baseColor: #1a1a1a;

/* 选集球背景色 */
$collectBallColor: #f2f2f2;